* {
    margin:0;
    padding:0;
    border:0;
}



.wp-100 {
    width:100%;
}
.wp-90 {
    width:90%;
}
.wp-80 {
    width:80%;
}
.wp-70 {
    width:70%;
}
.wp-60 {
    width:60%;
}
.wp-50 {
    width:50%;
}
.wp-40 {
    width:40%;
}
.wp-30 {
    width:30%;
}
.wp-20 {
    width:20%;
}
.wp-10 {
    width:10%;
}
.wp-0 {
    width:0%;
}


.login-div {
    background-color: #f6f6f9;
    height: 100vh;
}

.login-form {
    width:300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #e5e5e6;
    padding: 20px;
    border-radius: 2px;
    text-align: center;
}

.login-input {
    border-bottom : 1px solid #e5e5e6;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 5px 0px;
    width: 100%;
}

.login-input:focus {
    outline: none;
    border-bottom : 1px solid #157efb;
}

.login-button {
    height: 40px;
    padding: 5px 0px;
    width: 100%;
}

.isVal {
    border-bottom : 1px solid #53d386;
}

.success {
    cursor: pointer;
    background-color: #53d386;
    color: white;

}