{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaverWorks API Demo</title>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/tripod.ico' %}">
</head>
<body>
    <h1>bot List</h1>
    <button onclick="fn_logout()">logout</button>&emsp;
    <button onclick="location.href='./'">메인페이지</button>&emsp;
    <button onclick="location.href='./bot/botReg'">bot 등록</button>&emsp;
    <div>
        <p>BOT 리스트</p>
        <div id="botList"></div>
    </div>
    <form class="" id="Form1" enctype="multipart/form-data" style="display:none">
        {% csrf_token %}
    </form>
    <script>
        window.onload = function() {
            fn_getBotList();
        }

        var fn_logout = function() {
            location.href = "/logout";
        }
        
        var fn_getBotList = function() {
            let url = "bot/getBotList";
            let form = document.getElementById("Form1")
            let formData = new FormData(form);

            fetch(url, {
                method: "POST",
                cache: 'no-cache',
                body: formData,
            }).then((response) => {
                if (!response.ok || response.status != '200') {
                    throw new Error('연결 실패. 다시 요청하세요.\n' + response.statusText + "(" + response.status + ")");
                }
                return response.json();
            }).then((res) => {
                fn_drowTable(res);
            }).catch((err) => {
                alert(err);
            });
        }

        var fn_drowTable = function(data) {
            let list = document.getElementById("botList");
            let th = ["bot_no", "bot_name", "삭제"]
            table = "<table>";
            table+="<tr>";
            for(let i=0; i<th.length; i++) {
                table+="<th>" + th[i] + "</th>";
            }
            table+="</tr>";
            for(let i=0; i<data.data.length; i++) {
                table += "<tr>";
                table += "<td>" + data.data[i].bot_no + "</td>";
                table += "<td>" + data.data[i].bot_name + "</td>";
                table += "<td><button type=button onclick='fn_removeBot(" + data.data[i].bot_no + ");'>삭제<button></td>";
                table += "</tr>";
            }
            list.innerHTML = table;
        }

        var fn_removeBot = function(bot_no) {
            let url = "bot/botRm";
            let form = document.getElementById("Form1")
            let formData = new FormData(form);
            formData.append("bot_no", bot_no);

            fetch(url, {
                method: "POST",
                cache: 'no-cache',
                body: formData,
            }).then((response) => {
                if (!response.ok || response.status != '200') {
                    throw new Error('연결 실패. 다시 요청하세요.\n' + response.statusText + "(" + response.status + ")");
                }
                return response.json();
            }).then((res) => {
                fn_getBotList();
            }).catch((err) => {
                alert(err);
            });
        }

    </script>
</body>
</html>