{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaverWorks API Demo</title>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/tripod.ico' %}">
</head>

<body>
    <div class="login-div">
        <form class="login-form" id="Form1" enctype="multipart/form-data">
            {% csrf_token %}
            <select class="login-input" id="api_no" name="api_no" onchange="fn_checkValue();">
                <option value="">== 선택 ==</option>
                {% for api in apiData %}
                    <option value="{{api.api_no}}">{{api.api_name}}</option>
                {% endfor %}
            </select>
            <input class="login-input" type="text" id="bot_id" name="bot_id" placeholder="bot id를 입력하세요" oninput="fn_checkValue();">
            <input class="login-input" type="text" id="bot_secret" name="bot_secret" placeholder="bot secret을 입력하세요" oninput="fn_checkValue();">
            <input class="login-button" type="button" id="submit" value="API 등록" onclick="fn_reg();">
            <input class="login-button" type="button" value="취소" onclick="location.href='../apiList'">
        </form>
    </div>
    <script>
        window.onload = function(){
            fn_testSet();
        }

        var fn_checkValue = function () {
            let ae = document.activeElement;
            if(ae.id == 'bot_id') ae.value = ae.value.replace(/[^0-9]/g, '');

            if (ae.value.length > 0) {
                ae.classList.add("isVal");
            } else {
                ae.classList.remove("isVal");
            }

            if (document.getElementById("api_no").classList.contains("isVal")
                && document.getElementById("bot_id").classList.contains("isVal")
                && document.getElementById("bot_secret").classList.contains("isVal")) {
                document.getElementById("submit").classList.add("success");
            } else {
                document.getElementById("submit").classList.remove("success");
            }
        }
        
        var fn_reg = function () {
            if (document.getElementById("submit").classList.contains("success")) {
                let url = "./botReg";
                let form = document.getElementById("Form1")
                let formData = new FormData(form);

                fetch(url, {
                    method: "POST",
                    cache: 'no-cache',
                    body: formData,
                }).then((response) => {
                    if (!response.ok || response.status != '200') {
                        throw new Error('연결 실패. 다시 요청하세요.\n' + response.statusText + "(" + response.status + ")");
                    }
                    return response.json();
                }).then((res) => {
                    if(res.flag == '0'){
                        alert("bot 등록 성공하였습니다.");
                        location.href = "../botList";
                    }else{
                        throw new Error(res.result_msg);
                    }
                }).catch((err) => {
                    alert(err);
                });
            }
        }

        var fn_testSet = function(){
            document.getElementById("api_no").getElementsByTagName("option")[1].selected = 'selected'
            document.getElementById("bot_id").value = "4570067";
            document.getElementById("bot_secret").value = "KHjs0fJyZeVNYACsiEMb2RUc8HH90/";

            document.getElementById("submit").classList.add("success");

        }
    </script>
</body>

</html>