{% extends './base.html' %}
{% load static %}

{% block contents %}
<!--begin::Container-->
<div class="d-flex flex-column flex-column-fluid container-fluid">
	<!--begin::Toolbar-->
	<div class="toolbar mb-5 mb-lg-7" id="kt_toolbar">
		<!--begin::Page title-->
		<div class="page-title d-flex flex-column me-3">
			<!--begin::Title-->
			<h1 class="d-flex text-dark fw-bold my-1 fs-3">Bot Message</h1>
			<!--end::Title-->
			<!--begin::Breadcrumb-->
			<ul class="breadcrumb breadcrumb-line fw-semibold text-muted fs-7 my-1">
				<!--begin::Item-->
				<li class="breadcrumb-item pe-3">
					<span class="pe-3">Home</span>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item pe-3">
					<span class="pe-3">SERVICES</span></li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item pe-3">
					<span class="text-gray-600 pe-3">Bot Message</span>
				</li>
				<!--end::Item-->
			</ul>
			<!--end::Breadcrumb-->
		</div>
		<!--end::Page title-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Post-->
	<div class="content flex-column-fluid" id="kt_content">

		<!--begin::Alert-->
		<div class="alert alert-dismissible bg-light-primary border border-primary border-dashed d-flex flex-column flex-sm-row p-8 p-lg-8 mb-8">
			<!--begin::Icon-->
			<div class="d-flex h-35px w-35px h-lg-60px w-lg-60px flex-shrink-0 flex-center position-relative align-self-start align-self-lg-center mt-0 me-10 mb-5 mb-sm-0">
				<!--begin::Svg Icon | path: icons/duotune/abstract/abs051.svg-->
				<span class="svg-icon svg-icon-primary position-absolute opacity-15">
					<svg class="h-50px w-50px h-lg-80px w-lg-80px" xmlns="http://www.w3.org/2000/svg" width="70px" height="70px" viewBox="0 0 70 70" fill="none">
						<path d="M28 4.04145C32.3316 1.54059 37.6684 1.54059 42 4.04145L58.3109 13.4585C62.6425 15.9594 65.3109 20.5812 65.3109 25.5829V44.4171C65.3109 49.4188 62.6425 54.0406 58.3109 56.5415L42 65.9585C37.6684 68.4594 32.3316 68.4594 28 65.9585L11.6891 56.5415C7.3575 54.0406 4.68911 49.4188 4.68911 44.4171V25.5829C4.68911 20.5812 7.3575 15.9594 11.6891 13.4585L28 4.04145Z" fill="currentColor"></path>
					</svg>
				</span>
				<!--end::Svg Icon-->
				<!--begin::Svg Icon | path: icons/duotune/communication/com012.svg-->
				<span class="svg-icon svg-icon-2x svg-icon-lg-2tx svg-icon-primary position-absolute">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path opacity="0.3" d="M20 3H4C2.89543 3 2 3.89543 2 5V16C2 17.1046 2.89543 18 4 18H4.5C5.05228 18 5.5 18.4477 5.5 19V21.5052C5.5 22.1441 6.21212 22.5253 6.74376 22.1708L11.4885 19.0077C12.4741 18.3506 13.6321 18 14.8167 18H20C21.1046 18 22 17.1046 22 16V5C22 3.89543 21.1046 3 20 3Z" fill="currentColor"/>
						<rect x="6" y="12" width="7" height="2" rx="1" fill="currentColor"/>
						<rect x="6" y="7" width="12" height="2" rx="1" fill="currentColor"/>
					</svg>
				</span>
				<!--end::Svg Icon-->
			</div>
			<!--end::Icon-->

			<!--begin::Wrapper-->
			<div class="d-flex flex-column pe-0 pe-sm-10">
				<!--begin::Title-->
				<h4 class="fs-5 mb-2 text-gray-800">Bot Message 이용 시 유의사항</h4>
				<!--end::Title-->
				<!--begin::Content-->
				<p class="list-unstyled text-gray-600 fw-normal fs-6 p-0 m-0">
					Bot Message 이용을 위해서는 API와 Bot 등록이 필수입니다! API와 Bot 선택 이후 전송 메시지 유형별로 정보를 입력해주세요.<br />
					입력된 정보는 아래 미리보기 화면으로 확인 가능하며, 내용 확인 후에 전송 버튼을 클릭하면 입력한 Message 가 전송됩니다.
				</p>
				<!--end::Content-->
			</div>
			<!--end::Wrapper-->

			<!--begin::Close-->
			<button type="button" class="position-absolute position-sm-relative m-2 m-sm-0 mt-lg-n4 me-lg-n4 top-0 end-0 btn btn-icon ms-sm-auto" data-bs-dismiss="alert">
				<span class="svg-icon svg-icon-1 svg-icon-primary"><i class="bi bi-x fs-2qx text-primary"></i></span>
			</button>
			<!--end::Close-->
		</div>
		<!--end::Alert-->

		<!--begin::Message Form-->
		<!--begin::Layout-->
		<div class="d-flex flex-column flex-lg-row">
			<form method="POST" action="./botMessage" id="formBotMessageSend">
				<!--begin::Input Area-->
				<div class="flex-column flex-lg-row-auto w-100 w-lg-400px w-xl-600px mb-10 mb-lg-0">
					<!--begin::Card-->
					<div class="card">
						<!--begin::Card header-->
						<div class="card-header">
							<!--begin::Card title-->
							<div class="card-title">
								<h2>Bot Message</h2>
							</div>
							<!--end::Card title-->
						</div>
						<!--end::Card header-->
						<!--begin::Card body-->
						<div class="card-body">
							<!--begin::Input group-->
							<div class="fv-row row">
								<div class="col-xl-6 mb-7">
									<!--begin::Label-->
									<label class="required fs-6 fw-semibold form-label">API 선택</label>
									<!--end::Label-->
									<!--begin::Input-->
									<select class="form-select form-select-solid fs-6 fw-semibold" name="api_no" data-control="select2" data-hide-search="true" data-placeholder="API 선택">
									</select>
									<!--end::Input-->
								</div>
								<div class="col-xl-6 mb-7">
									<!--begin::Label-->
									<label class="required fs-6 fw-semibold form-label">Bot 선택</label>
									<!--end::Label-->
									<!--begin::Input-->
									<select class="form-select form-select-solid fs-6 fw-semibold" name="bot_no" data-control="select2" data-hide-search="true" data-placeholder="Bot 선택">
									</select>
									<!--end::Input-->
								</div>
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="fv-row mb-7">
								<!--begin::Label-->
								<label class="required fs-6 fw-semibold form-label">Type 선택</label>
								<!--end::Label-->
								<!--begin::Radio group-->
								<div class="nav-group nav-group-fluid w-sm-50">
									<!--begin::Option-->
									<label>
										<input type="radio" class="btn-check" name="message_type" value="text" checked="checked" onchange="viewSampleMessage();"/>
										<span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-semibold text-nowrap px-4 py-2">TEXT</span>
									</label>
									<!--end::Option-->
									<!--begin::Option-->
									<label>
										<input type="radio" class="btn-check" name="message_type" value="textUrl" onchange="viewSampleMessage();" />
										<span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-semibold text-nowrap px-4 py-2">TEXT + URL</span>
									</label>
									<!--end::Option-->
								</div>
								<!--end::Radio group-->
								<!--begin::Input-->
								<!--
								<select class="form-select form-select-solid fs-6 fw-semibold" name="select_type" data-control="select2" data-hide-search="true" data-placeholder="Type 선택">
									<option value="1">Text</option>
									<option value="2">URL</option>
								</select>
								-->
								<!--end::Input-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="fv-row mb-7">
								<!--begin::Label-->
								<label class="required fs-6 fw-semibold form-label">Member Id 입력</label>
								<!--end::Label-->
								<!--begin::Input-->
								<input type="text" class="form-control form-control-solid fs-6 fw-normal" name="member" placeholder="example@example.com" value="" />
								<!--end::Input-->
								<div class="fw-normal fs-7 mt-2 ms-2 text-gray-600" >※ 수신하고자 하는 회원의 Naver Works Id, Channel Id 를 입력해주세요.</div>
								<div class="fw-normal fs-7 ms-2 text-gray-600" >※ 여러 회원에게 메시지를 보낼 경우, 쉼표로 구분하여 입력해주세요.</div>
							</div>
							<!--end::Input group-->
							
							<!--begin::Separator-->
							<div class="separator my-7"></div>
							<!--begin::Separator-->

							<span class="messageType" data-type="0">
								<!--begin::Input group-->
								<div class="fv-row mb-7">
									<!--begin::Label-->
									<label class="required fs-6 fw-semibold form-label">Message 입력</label>
									<!--end::Label-->
									<!--begin::Input-->
									<textarea class="form-control form-control-solid fs-6 fw-normal" name="message" rows="4" placeholder="텍스트 입력" oninput="viewSampleMessage();">안녕하세요. 테스트 봇입니다. &#10;해당 메시지는 테스트 내용 입니다.</textarea>
									<!--end::Input-->
								</div>
								<!--end::Input group-->
							</span>
							<span class="messageType" data-type="1" style="display:none;">
								<!--begin::Input group-->
								<div class="fv-row mb-7">
									<!--begin::Label-->
									<label class="fs-6 fw-semibold form-label">URL 입력</label>
									<!--end::Label-->
									<!--begin::Input-->
									<input type="text" class="form-control form-control-solid fs-6 fw-normal" name="url" placeholder="URL 입력" value="http://www.didim365.com" oninput="viewSampleMessage();"/>
									<!--end::Input-->
								</div>
								<!--end::Input group-->
		
								<!--begin::Input group-->
								<div class="fv-row row mb-4">
									<div class="col-8">
										<!--begin::Label-->
										<label class="fs-6 fw-semibold form-label">버튼 텍스트 입력</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="text" class="form-control form-control-solid fs-6 fw-normal" name="btn_text" placeholder="버튼 텍스트 입력" value="바로가기" oninput="viewSampleMessage();"/>
										<!--end::Input-->
										<div class="text-muted fw-normal fs-7 mt-2 ms-2">
											URL이 적용된 버튼 내 표시되는 텍스트 입니다.
										</div>
									</div>
									<div class="col-4">
										<!--begin::Label-->
										<label class="fs-6 fw-semibold form-label">버튼 색상 선택</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input type="color" class="form-select form-select-solid fs-6 fw-semibold" name="btn_color" style="height: 40px !important;" value="#009ef7" oninput="viewSampleMessage();">
										<!--end::Input-->
									</div>
								</div>
								<!--end::Input group-->
							</span>
						</div>
						<!--end::Card body-->
						<!--begin::Actions-->
						<div class="card-footer d-flex justify-content-between py-6 px-9">
							<button type="submit" class="btn btn-primary" id="sm_bot_msg_send">전송</button>
						</div>
						<!--end::Actions-->
					</div>
					<!--end::Card-->
				</div>
				<!--end::Input Area-->
			</form>
			
			<!--begin::Preview-->
			<div class="flex-lg-row-fluid ms-lg-7 ms-xl-10">
				<!--begin::Card-->
				<div class="card">
					<!--begin::Topbar-->
					<div class="d-flex justify-content-between bg-primary rounded-3 rounded-bottom-0 px-2 py-2">
						<div class="ms-3">
							<!--begin::Svg Icon | icons/duotune/general/gen052.svg-->
							<span class="svg-icon svg-icon-white svg-icon-2">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect x="10" y="10" width="4" height="4" rx="2" fill="currentColor"/>
									<rect x="17" y="10" width="4" height="4" rx="2" fill="currentColor"/>
									<rect x="3" y="10" width="4" height="4" rx="2" fill="currentColor"/>
								</svg>
							</span>
							<!--end::Svg Icon-->
						</div>
						<div class="me-3">
							<!--begin::Svg Icon | icons/duotune/coding/cod004.svg-->
							<span class="svg-icon svg-icon-white svg-icon-2 me-2">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M19.0687 17.9688H11.0687C10.4687 17.9688 10.0687 18.3687 10.0687 18.9688V19.9688C10.0687 20.5687 10.4687 20.9688 11.0687 20.9688H19.0687C19.6687 20.9688 20.0687 20.5687 20.0687 19.9688V18.9688C20.0687 18.3687 19.6687 17.9688 19.0687 17.9688Z" fill="currentColor"/>
								</svg>
							</span>
							<!--end::Svg Icon-->
							<!--begin::Svg Icon | path: icons/duotune/general/gen054.svg-->
							<span class="svg-icon svg-icon-white svg-icon-2 me-1">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path opacity="0.5" d="M18 2H9C7.34315 2 6 3.34315 6 5H8C8 4.44772 8.44772 4 9 4H18C18.5523 4 19 4.44772 19 5V16C19 16.5523 18.5523 17 18 17V19C19.6569 19 21 17.6569 21 16V5C21 3.34315 19.6569 2 18 2Z" fill="currentColor"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M14.7857 7.125H6.21429C5.62255 7.125 5.14286 7.6007 5.14286 8.1875V18.8125C5.14286 19.3993 5.62255 19.875 6.21429 19.875H14.7857C15.3774 19.875 15.8571 19.3993 15.8571 18.8125V8.1875C15.8571 7.6007 15.3774 7.125 14.7857 7.125ZM6.21429 5C4.43908 5 3 6.42709 3 8.1875V18.8125C3 20.5729 4.43909 22 6.21429 22H14.7857C16.5609 22 18 20.5729 18 18.8125V8.1875C18 6.42709 16.5609 5 14.7857 5H6.21429Z" fill="currentColor"/>
								</svg>
							</span>
							<!--end::Svg Icon-->
							<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
							<span class="svg-icon svg-icon-white svg-icon-2">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"/>
									<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"/>
								</svg>
							</span>
							<!--end::Svg Icon-->
						</div>
					</div>
					<!--end::Topbar-->
					<!--begin::Card header-->
					<div class="card-header">
						<!--begin::Title-->
						<div class="card-title">
							<span class="fs-4 fw-bold text-gray-900 text-hover-primary lh-1">Bot Message 미리보기</span>
						</div>
						<!--end::Title-->
					</div>
					<!--end::Card header-->
					<!--begin::Card body-->
					<div class="card-body pt-0">
						<span class="sample-message-default" style="display:none;">
							<!--begin::bin Message-->
							<div class="d-flex flex-column justify-content-center align-items-center border border-dashed border-gray-300 rounded px-8 py-14 my-8" >
								<!--begin::Icon-->
								<div class="mb-4">
									<!--begin::Svg Icon | path: icons/duotune/coding/cod006.svg-->
									<span class="svg-icon svg-icon-primary svg-icon-4tx">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M19.4 13.9411L10.7 5.24112C10.4 4.94112 10 4.84104 9.60001 5.04104C9.20001 5.24104 9 5.54107 9 5.94107V18.2411C9 18.6411 9.20001 18.941 9.60001 19.141C9.70001 19.241 9.9 19.2411 10 19.2411C10.2 19.2411 10.4 19.141 10.6 19.041C11.4 18.441 12.1 17.941 12.9 17.541L14.4 21.041C14.6 21.641 15.2 21.9411 15.8 21.9411C16 21.9411 16.2 21.9411 16.4 21.8411C17.2 21.5411 17.5 20.6411 17.2 19.8411L15.7 16.2411C16.7 15.9411 17.7 15.741 18.8 15.541C19.2 15.541 19.5 15.2411 19.6 14.8411C19.8 14.6411 19.7 14.2411 19.4 13.9411Z" fill="currentColor"/>
											<path opacity="0.3" d="M15 6.941C14.8 6.941 14.7 6.94102 14.6 6.84102C14.1 6.64102 13.9 6.04097 14.2 5.54097L15.2 3.54097C15.4 3.04097 16 2.84095 16.5 3.14095C17 3.34095 17.2 3.941 16.9 4.441L15.9 6.441C15.7 6.741 15.4 6.941 15 6.941ZM18.4 9.84102L20.4 8.84102C20.9 8.64102 21.1 8.04097 20.8 7.54097C20.6 7.04097 20 6.84095 19.5 7.14095L17.5 8.14095C17 8.34095 16.8 8.941 17.1 9.441C17.3 9.841 17.6 10.041 18 10.041C18.2 9.94097 18.3 9.94102 18.4 9.84102ZM7.10001 10.941C7.10001 10.341 6.70001 9.941 6.10001 9.941H4C3.4 9.941 3 10.341 3 10.941C3 11.541 3.4 11.941 4 11.941H6.10001C6.70001 11.941 7.10001 11.541 7.10001 10.941ZM4.89999 17.1409L6.89999 16.1409C7.39999 15.9409 7.59999 15.341 7.29999 14.841C7.09999 14.341 6.5 14.141 6 14.441L4 15.441C3.5 15.641 3.30001 16.241 3.60001 16.741C3.80001 17.141 4.1 17.341 4.5 17.341C4.6 17.241 4.79999 17.2409 4.89999 17.1409Z" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
								</div>
								<!--end::Icon-->
								<!--begin::Title-->
								<h2 class="fs-2 fw-bold text-gray-900 mb-3">미리보기 화면입니다!</h2>
								<!--end::Title-->
								<!--begin::Text-->
								<div class="fs-6 fw-normal text-gray-600 text-center">
									Bot Message 전송을 위해 정보를 입력해주세요.<br />
									정보 입력 후 미리보기 버튼을 클릭하면 적용됩니다.
								</div>
							</div>
						</span>
						<!--end::bin Message-->
						<span class="sample-message-chat" style="display: none;">
							<span style="display:none;">
								<!--begin::Message(bot)-->
								<div class="d-flex justify-content-start mt-8">
									<!--begin::Wrapper-->
									<div class="d-flex flex-column align-items-start">
										<!--begin::Title-->
										<div class="d-flex align-items-center mb-2">
											<!--begin::Avatar-->
											<div class="symbol symbol-50px">
												<span class="svg-icon svg-icon-primary svg-icon-1">
													<!--begin::Svg Icon | path: icons/Communication/Chat-smile.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="0" y="0" width="24" height="24"/>
															<polygon fill="#000000" opacity="0.3" points="5 15 3 21.5 9.5 19.5"/>
															<path d="M13,2 C18.5228475,2 23,6.4771525 23,12 C23,17.5228475 18.5228475,22 13,22 C7.4771525,22 3,17.5228475 3,12 C3,6.4771525 7.4771525,2 13,2 Z M7.16794971,13.5547002 C8.67758127,15.8191475 10.6456687,17 13,17 C15.3543313,17 17.3224187,15.8191475 18.8320503,13.5547002 C19.1384028,13.0951715 19.0142289,12.4743022 18.5547002,12.1679497 C18.0951715,11.8615972 17.4743022,11.9857711 17.1679497,12.4452998 C16.0109146,14.1808525 14.6456687,15 13,15 C11.3543313,15 9.9890854,14.1808525 8.83205029,12.4452998 C8.52569784,11.9857711 7.90482849,11.8615972 7.4452998,12.1679497 C6.98577112,12.4743022 6.86159725,13.0951715 7.16794971,13.5547002 Z" fill="currentColor"/>
														</g>
													</svg>
													<!--end::Svg Icon-->
												</span>
											</div>
											<!--end::Avatar-->
											<!--begin::Details-->
											<div class="ms-3">
												<a href="javascript:void(0);" class="fs-5 fw-bold text-gray-900 text-hover-primary me-3">Bot</a>
												<span class="text-gray-400 fs-8 fw-normal mb-1">5 mins</span>
											</div>
											<!--end::Details-->
										</div>
										<!--end::Title-->
										<!--begin::Text-->
										<div class="p-5 rounded bg-light-primary text-dark fw-semibold mw-lg-400px text-start">
											안녕하세요.<br />
											봇이 작성한 메세지입니다.<br />
										</div>
										<!--end::Text-->
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Message(bot)-->
		
								<!--begin::Message(user)-->
								<div class="d-flex justify-content-end mt-8">
									<!--begin::Wrapper-->
									<div class="d-flex flex-column align-items-end">
										<!--begin::User-->
										<div class="d-flex align-items-center mb-2">
											<!--begin::Details-->
											<div class="me-3">
												<span class="text-gray-400 fs-8 fw-normal mb-1">3 mins</span>
												<a href="javascript:void(0);" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-3">사용자</a>
											</div>
											<!--end::Details-->
											<!--begin::Avatar-->
											<div class="symbol symbol-50px">
												<span class="svg-icon svg-icon-primary svg-icon-1">
													<!--begin::Svg Icon | path: icons/General/User.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<polygon points="0 0 24 0 24 24 0 24"/>
															<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
															<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="currentColor" fill-rule="nonzero"/>
														</g>
													</svg>
													<!--end::Svg Icon-->
												</span>
											</div>
											<!--end::Avatar-->
										</div>
										<!--end::User-->
										<!--begin::Text-->
										<div class="p-5 rounded bg-light text-dark fw-normal mw-lg-400px text-end">
											안녕하세요.<br />
											사용자가 작성한 메세지입니다.
										</div>
										<!--end::Text-->
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Message(user)-->
							</span>
	
							<!--begin::Message(bot)-->
							<div class="d-flex justify-content-start mt-8">
								<!--begin::Wrapper-->
								<div class="d-flex flex-column align-items-start">
									<!--begin::Title-->
									<div class="d-flex align-items-center mb-2">
										<!--begin::Avatar-->
										<div class="symbol symbol-50px">
											<span class="svg-icon svg-icon-primary svg-icon-1">
												<!--begin::Svg Icon | path: icons/Communication/Chat-smile.svg-->
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24"/>
														<polygon fill="#000000" opacity="0.3" points="5 15 3 21.5 9.5 19.5"/>
														<path d="M13,2 C18.5228475,2 23,6.4771525 23,12 C23,17.5228475 18.5228475,22 13,22 C7.4771525,22 3,17.5228475 3,12 C3,6.4771525 7.4771525,2 13,2 Z M7.16794971,13.5547002 C8.67758127,15.8191475 10.6456687,17 13,17 C15.3543313,17 17.3224187,15.8191475 18.8320503,13.5547002 C19.1384028,13.0951715 19.0142289,12.4743022 18.5547002,12.1679497 C18.0951715,11.8615972 17.4743022,11.9857711 17.1679497,12.4452998 C16.0109146,14.1808525 14.6456687,15 13,15 C11.3543313,15 9.9890854,14.1808525 8.83205029,12.4452998 C8.52569784,11.9857711 7.90482849,11.8615972 7.4452998,12.1679497 C6.98577112,12.4743022 6.86159725,13.0951715 7.16794971,13.5547002 Z" fill="currentColor"/>
													</g>
												</svg>
												<!--end::Svg Icon-->
											</span>
										</div>
										<!--end::Avatar-->
										<!--begin::Details-->
										<div class="ms-3">
											<a href="javascript:void(0);" class="fs-5 fw-bold text-gray-900 text-hover-primary me-3" id="sampleMessageBotName">Bot</a>
											<span class="text-gray-400 fs-8 fw-normal mb-1">2 mins</span>
										</div>
										<!--end::Details-->
									</div>
									<!--end::Title-->
									<!--begin::Text-->
									<div class="p-5 rounded bg-light-primary text-dark fw-semibold mw-lg-400px text-start" id="divSampleMessage">
										안녕하세요. 테스트 봇입니다.<br />
										해당 메시지는 테스트 내용입니다.<br />
										메시지 타입은 TEXT + URL 입니다.<br />
										<!--begin::URL Area-->
										<div class="mt-5">
											<a href="#" class="btn btn-primary btn-sm rounded-1">바로가기</a>
										</div>
										<!--end::URL Area-->
									</div>
									<!--end::Text-->
								</div>
								<!--end::Wrapper-->
							</div>
							<!--end::Message(bot)-->
						</span>
					</div>
					<!--end::Card body-->
				</div>
				<!--end::Card-->
			</div>
			<!--end::Preview-->
		</div>
		<!--end::Layout-->
		<!--end::Message Form-->

	</div>
	<!--end::Post-->
	<!--begin::Footer-->
	<div class="footer py-4 d-flex flex-column flex-md-row flex-stack" id="kt_footer">
		<!--begin::Copyright-->
		<div class="text-gray-600 order-2 order-md-1">
			<span class="text-muted fw-semibold me-1">2023&copy;</span>
			<a href="https://didim365.com" target="_blank" class="text-gray-800 text-hover-primary">Didim365</a>
		</div>
		<!--end::Copyright-->
		<!--begin::Menu-->
		<ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
			<li class="menu-item">
				<a href="#" target="_blank" class="menu-link px-2">이용약관</a>
			</li>
			<li class="menu-item">
				<a href="#" target="_blank" class="menu-link px-2">개인정보처리방침</a>
			</li>
		</ul>
		<!--end::Menu-->
	</div>
	<!--end::Footer-->
</div>
<!--end::Container-->
{% endblock %}

{% block modals %}
{% endblock %}

{% block scripts %}
<!--begin::Alert | Simpler-->
<script type="text/javascript">
	window.addEventListener('load', e => {
		setDefaultData();

		let btnMessageType = document.querySelectorAll('input[name=message_type]');
		for(let i = 0; i < btnMessageType.length; i++){
			btnMessageType[i].addEventListener('change', e=>{
				if(e.target.value == "text" || e.target.value == "textUrl"){
					document.querySelector('span.messageType[data-type="0"]').style="";
				}else{
					document.querySelector('span.messageType[data-type="0"]').style="display:none;";
				}
				if(e.target.value == "textUrl"){
					document.querySelector('span.messageType[data-type="1"]').style="";
				}else{
					document.querySelector('span.messageType[data-type="1"]').style="display:none;";
				}
			});
		}
	});

	// select2 변경 이벤트
	KTUtil.onDOMContentLoaded(function () {
		select2ChangeEventListener = function(e){
			if(e.name == 'bot_no'){
				viewSampleMessage();
			}

			if(e.value != ''){
				let feedback = e.parentElement.querySelector('.invalid-feedback');
				if(feedback != null){
					feedback.innerHTML = '';
				}
			}
		}
	});

	var setDefaultData = function(){
		
		let url = "./botMessage";
		let formData = new FormData();
		formData.append("csrfmiddlewaretoken", Cookies("csrftoken"));
		formData.append("type", "getDefaultData");

		fetch(url, {
			method: "POST",
			cache: 'no-cache',
			body: formData,
		}).then((response) => {
			if (!response.ok || response.status != '200') {
				throw new Error('연결 실패. 다시 요청하세요.\n' + response.statusText + "(" + response.status + ")");
			}
			return response.json();
		}).then((res) => {
			if(res.flag == 0){
				let selectApi = document.querySelector('select[name=api_no]');
				selectApi.innerHTML = "<option value='' selected>API Select</option>";
				for(let i = 0; i < res.api_data.data.length; i++) {
					let selected = "";
					if("{{api_no}}" != "None" && "{{api_no}}" == res.api_data.data[i].api_no){
						selected = "selected";
					}
					selectApi.innerHTML += `<option value='` + res.api_data.data[i].api_no + `' ` + selected + `>` + res.api_data.data[i].api_name + `</option>`;
				}

				let selectBot = document.querySelector('select[name=bot_no]');
				selectBot.innerHTML = "<option value='' selected>Bot Select</option>";
				for(let i = 0; i < res.bot_data.data.length; i++) {
					let selected = "";
					if("{{bot_no}}" != "None" && "{{bot_no}}" == res.bot_data.data[i].bot_no){
						selected = "selected";
					}
					selectBot.innerHTML += `<option value='` + res.bot_data.data[i].bot_no + `'` + selected + `>` + res.bot_data.data[i].bot_name + `</option>`;
				}
				viewSampleMessage();
			}else{
				throw new Error(res.result_msg);
			}
		}).catch((err) => {
			Swal.fire({
				text: err,
				icon: "error",
				buttonsStyling: false,
				confirmButtonText: "확인",
				customClass: {
					confirmButton: "btn btn-primary"
				}
			}).then(function (result) {
				if (result.isConfirmed) {
					modalClose();
				}
			});
		});
	}

	// 미리보기 설정
	var viewSampleMessage = function() {
		// 봇 이름 설정
		let selectBot = document.querySelector('select[name=bot_no] option:checked');
		selectBot = selectBot.value=="" ? "Bot" : selectBot.innerHTML;
		let sampleBotName = document.getElementById('sampleMessageBotName');
		sampleBotName.innerHTML = selectBot;

		// 봇 내용 설정
		let sampleBox = document.getElementById('divSampleMessage');
		let message = document.querySelector('textarea[name=message]').value.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/ /g,'&nbsp;').replace(/(?:\r\n|\r|\n)/g, '<br/>');
		if (document.querySelector('input[name=message_type]:checked').value == "textUrl") {
			message += `
				<!--begin::URL Area-->
				<div class="mt-5">
					<a href="` + document.querySelector('input[name=url]').value + `" target="_blank" class="btn btn-sm rounded-1 w-100 h-35px" style="color:white; background-color:` + document.querySelector('input[name=btn_color]').value + `">` + document.querySelector('input[name=btn_text]').value.substr(0,20) + `</a>
				</div>
				<!--end::URL Area-->
			`;
		}
		sampleBox.innerHTML = message;
		
		document.querySelector('span.sample-message-default').style="display:none;";
		document.querySelector('span.sample-message-chat').style="";
	}

</script>
<!--end::Alert | Simpler-->
{% endblock %}