{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NaverWorks API Demo</title>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'images/tripod.ico' %}">
</head>

<body>
    <div class="login-div">
        <form class="login-form" id="Form1" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="login-input" type="text" id="id" name="id" placeholder="아이디를 입력하세요."
                oninput="fn_checkValue();">
            <input class="login-input" type="password" id="password" name="password" placeholder="비밀번호를 입력하세요."
                oninput="fn_checkValue();">
            <input class="login-button" type="button" id="submit" value="로그인" onclick="fn_login();">
            <br />
            <br />
            <a class="login-link" href="./main.html">ID/PW 찾기</a>
            <a class="login-link" href="./join">회원가입</a>
        </form>
    </div>
    <script>
        var fn_checkValue = function () {
            let ae = document.activeElement;
            ae.value = ae.value.replace(/[^0-9a-zA-Z]/g, '');
            if (ae.value.length > 0) {
                ae.classList.add("isVal");
            } else {
                ae.classList.remove("isVal");
            }
            if (document.getElementById("id").classList.contains("isVal") && document.getElementById("password").classList.contains("isVal")) {
                document.getElementById("submit").classList.add("success");
            } else {
                document.getElementById("submit").classList.remove("success");
            }
        }
        
        var fn_login = function () {
            if (document.getElementById("submit").classList.contains("success")) {
                let url = "/login";
                let form = document.getElementById("Form1")
                let formData = new FormData(form);

                fetch(url, {
                    method: "POST",
                    cache: 'no-cache',
                    body: formData,
                    // headers: {
                    // "Content-Type": "application/json",
                    // },
                    // body: JSON.stringify({
                    // title: "Test",
                    // body: "I am testing!",
                    // userId: 1,
                    // }),
                }).then((response) => {
                    if (!response.ok || response.status != '200') {
                        throw new Error('연결 실패. 다시 요청하세요.\n' + response.statusText + "(" + response.status + ")");
                    }
                    return response.json();
                }).then((res) => {
                    if(res.flag == '0'){
                        location.href = "/";
                    }else{
                        alert(res.result_msg);
                    }
                }).catch((err) => {
                    alert(err);
                });
            }
        }
    </script>
</body>

</html>