{% load static %}
<!DOCTYPE html>
<html lang="ko">
<!--begin::Head-->
<head>
	<meta charset="utf-8" />
	<title>DidimAPI Sampler</title>
	<meta name="description" content="DidimAPI Sampler by Didim365" />
	<meta name="keywords" content="DidimAPI Sampler by Didim365" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta property="og:locale" content="ko_KR" />
	<meta property="og:title" content="DidimAPI Sampler by Didim365" />
	<meta property="og:site_name" content="DidimAPI Sampler by Didim365" />
	<link rel="shortcut icon" href="{% static 'assets/media/logos/simpler-favicon.png' %}" />
	<!--begin::Fonts(mandatory for all pages)-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap" />
	<!--end::Fonts-->
	<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
	<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
	<!--end::Global Stylesheets Bundle-->
	<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed">
	<!--begin::Main-->
	<!--begin::Root-->
	<div class="pt-20 d-flex flex-column flex-root">
		<!--begin::Page-->
		<div class="page d-flex flex-row flex-column-fluid">
			<!--begin::Wrapper-->
			<div class="d-flex flex-column flex-row-fluid" id="kt_wrapper">
				<!--begin::Header-->
				<div id="kt_header" class="header">
					<!--begin::Container-->
					<div class="container-fluid d-flex flex-stack">
						<!--begin::Brand-->
						<div class="d-flex align-items-center me-5">	
							<!--begin::Logo-->
							<a href="/">
								<img alt="Logo" src="{% static 'assets/media/logos/DAS-logo.svg' %}" class="h-25px h-lg-25px" />
							</a>
							<!--end::Logo-->
						</div>
						<!--end::Brand-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Header-->

				<!--begin::Content wrapper-->
				<div class="pt-20 d-flex flex-column-fluid">
					<!--begin::Container-->
					<div class="d-flex flex-column flex-column-fluid container-fluid">
						<!--begin::Toolbar-->
						<div class="toolbar mb-5 mb-lg-7" id="kt_toolbar">
							<!--begin::Page title-->
							<div class="page-title d-flex flex-column me-3">
								<!--begin::Title-->
								<h1 class="d-flex text-dark fw-bold my-1 fs-3">개인정보처리방침</h1>
								<!--end::Title-->
								<!--begin::Breadcrumb-->
								<ul class="breadcrumb breadcrumb-line fw-semibold text-muted fs-7 my-1">
									<!--begin::Item-->
									<li class="breadcrumb-item pe-3">
										<span class="pe-3">Home</span>
									</li>
									<!--end::Item-->
									<!--begin::Item-->
									<li class="breadcrumb-item pe-3">
										<span class="text-gray-600 pe-3">개인정보처리방침</span></li>
									<!--end::Item-->
								</ul>
								<!--end::Breadcrumb-->
							</div>
							<!--end::Page title-->
						</div>
						<!--end::Toolbar-->
						<!--begin::Post-->
						<div class="content flex-column-fluid" id="kt_content">
                            <!--begin::Card-->
                            <div class="card mb-5">
								<!--begin::Card header-->
								<div class="card-header">
									<!--begin::Card title-->
									<div class="card-title m-0">
										<h3 class="fw-bold m-0">개인정보처리방침</h3>
									</div>
									<!--end::Card title-->
								</div>
								<!--begin::Card header-->
								<!--begin::Card body-->
								<div class="card-body">
                                    <p class="fs-6">1. 디딤365(주)(는) 다음과 같이 정보주체의 개인정보를 처리합니다.</p>
                                    <table>
                                    <colgroup>
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="30%">
                                        <col width="20%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th style="color: #555; font-weight: 700; padding: 9px 24px; border: 1px solid #ddd; text-align: center; background: #eee; font-size: 14px; font-weight: bold;">구분</th>
                                            <th style="color: #555; font-weight: 700; padding: 9px 24px; border: 1px solid #ddd; text-align: center; background: #eee; font-size: 14px; font-weight: bold;">수집 및 이용 목적</th>
                                            <th style="color: #555; font-weight: 700; padding: 9px 24px; border: 1px solid #ddd; text-align: center; background: #eee; font-size: 14px; font-weight: bold;">수집항목</th>
                                            <th style="color: #555; font-weight: 700; padding: 9px 24px; border: 1px solid #ddd; text-align: center; background: #eee; font-size: 14px; font-weight: bold;">보유 및 이용 기간</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                            <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">회원가입 및 관리</td>
                                            <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별 · 인증, 각종 고지 · 통지</td>
                                            <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                    회사이름, 아이디, 비밀번호, 관리자 이름, 관리자 이메일, 관리자 전화번호, 관리자 휴대폰번호, 요금담당자 이름, 요금담당자 이메일, 요금담당자 전화번호, 요금담당자 휴대폰번호
                                            </td>
                                            <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px; font-weight: bold;" rowspan="9">회원 탈퇴 시까지</td>
                                        </tr>
                                        <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                            <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">클라우드 서비스</td>
                                            <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">클라우드 서비스 제공</td>
                                            <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">계좌자동이체시 정보 : 은행명, 계좌번호, 계좌주이름, 생년월일 또는 사업자등록번호</td>
                                        </tr>
                                        <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                            <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">호스팅 서비스</td>
                                            <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">호스팅 서비스 제공</td>
                                            <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">계좌자동이체시 정보 : 이름, 아이디, 주문자 이름, 전화번호, 은행명, 계좌번호</td>
                                        </tr>
                                        <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">부가 서비스</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">문자 서비스 제공 및 DB 서비스 제공</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                    계좌자동이체시 정보 : 이름, 아이디, 주문자 이름, 전화번호, 은행명, 계좌번호<br>
                                                    카드자동이체시 정보 : 이름, 아이디, 주문자 이름, 전화번호, 카드사명
                                                </td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">도메인 서비스</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">도메인 발급 및 관리</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                    소유자 이름, 소유자 회사명, 소유자 이메일, 소유자 주소, 소유자 전화번호, 소유자 휴대폰번호, 소유자 팩스번호, 관리자 이름, 관리자 회사명, 관리자 이메일, 관리자 주소, 관리자 전화번호, 관리자 휴대폰번호, 관리자 팩스번호, 주문자 이름, 전화번호명
                                                </td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">SSL 인증서 서비스</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">SSL 인증서 발급 및 관리</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                    신청자 이름, 신청자 부서명, 신청자 직급, 신청자 전화번호, 신청자 휴대폰 번호, 주문자 이름, 주문자 전화번호
                                                </td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">계좌자동이체 등록</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">요금 결제</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                    은행명, 계좌번호, 계좌주이름, 생년월일
                                                </td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">기업 세금계산서 설정</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">세금계산서 발행</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                    신청자 이름, 전화번호, 요금담당자 이름, 핸드폰번호, 이메일
                                                </td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">개인 세금계산서 설정</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">부가가치세법 제32조에 따른 세금계산서 발행</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                    신청자 이름, 전화번호, 요금담당자 이름, 핸드폰번호, 이메일, 이름, 주민등록번호
                                                </td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">A/S 요청</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">고충 처리, 민원사항 확인, 사실조사를 위한 연락 · 통지, 처리결과 통보</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                    회원명/작성자명, 이메일, 휴대폰번호
                                                </td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px; font-weight: bold;">접수일로부터 3년</td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">로그인 로그</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">부정이용 방지, 비인가 사용 방지</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">접속 로그</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px; font-weight: bold;">3개월</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br><br>
                                    <p class="fs-6">2.관계법령이 규정에 의하여 보존할 필요가 있는 경우 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보유합니다.</p>
                                    <table style="margin:16px 0 0 0; border-collapse: collapse; border-spacing: 0; font-size: 13px;">
                                        <colgroup>
                                            <col width="33.3%">
                                            <col width="33.3%">
                                            <col width="33.3%">
                                        </colgroup>
                                        <thead style="color: #555; font-weight: 700; padding: 9px 24px; border: 1px solid #ddd; text-align: center; background: #eee; font-size: 14px; font-weight: bold;">
                                            <tr style="color: #555; font-weight: 700; padding: 9px 24px; border: 1px solid #ddd; text-align: center; background: #eee; font-size: 14px; font-weight: bold;">
                                                <th style="color: #555; font-weight: 700; padding: 9px 24px; border: 1px solid #ddd; text-align: center; background: #eee; font-size: 14px; font-weight: bold;">구분</th>
                                                <th style="color: #555; font-weight: 700; padding: 9px 24px; border: 1px solid #ddd; text-align: center; background: #eee; font-size: 14px; font-weight: bold;">보유근거</th>
                                                <th style="color: #555; font-weight: 700; padding: 9px 24px; border: 1px solid #ddd; text-align: center; background: #eee; font-size: 14px; font-weight: bold;">보유기간</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">계약 또는 청약철회 등에 공급기록</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;" rowspan="4">대금결제 및 재화 등의 공급에 관한 기록</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px; font-weight: bold;">5년</td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">대금결제 및 재화 등의 공급에 관한 기록</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px; font-weight: bold;">5년</td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">소비자 불만 또는 분쟁처리에 관한 기록</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px; font-weight: bold;">3년</td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">표시·광고에 관한 기록</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px; font-weight: bold;">3년</td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">장부, 세금계산서, 영수증에 관한 기록</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">부가가치세법</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px; font-weight: bold;">5년</td>
                                            </tr>
                                            <tr style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">방문에 관한 기록</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px;">통신비밀보호법</td>
                                                <td style="border: 1px solid #ddd; padding: 6px 24px; text-align: center; font-size: 14px; font-weight: bold;">3개월</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br><br>
                                    <p class="fs-6">3.귀하께서는 개인정보 수집·이용에 대한 동의를 거부하실 수 있으나, 이는 서비스 제공에 필수적으로 제공되어야 하는 정보이므로, 동의를 거부하실 경우 회원가입 및 서비스 이용에 제한이 있을 수 있습니다.</p>
								</div>
								<!--end::Card body-->
							</div>	
                            <!--end::Card-->
						</div>
						<!--end::Post-->
						<!--begin::Footer-->
						<div class="footer py-4 d-flex flex-column flex-md-row flex-stack" id="kt_footer">
							<!--begin::Copyright-->
							<div class="text-gray-600 order-2 order-md-1">
								<span class="text-muted fw-semibold me-1">2022&copy;</span>
								<a href="https://didim365.com" target="_blank" class="text-gray-800 text-hover-primary">Didim365</a>
							</div>
							<!--end::Copyright-->
							<!--begin::Menu-->
							<ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
								<li class="menu-item">
									<a href="/termsService" target="_blank" class="menu-link px-2">이용약관</a>
								</li>
								<li class="menu-item">
									<a href="/privacyPoilcy" target="_blank" class="menu-link px-2">개인정보처리방침</a>
								</li>
							</ul>
							<!--end::Menu-->
						</div>
						<!--end::Footer-->
					</div>
					<!--end::Container-->
				</div>
				<!--end::Content wrapper-->
			</div>
			<!--end::Wrapper-->
		</div>
		<!--end::Page-->
	</div>
	<!--end::Root-->
	<!--end::Main-->

	<!--begin::Scrolltop-->
	<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
		<!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
		<span class="svg-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
				<rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="currentColor" />
				<path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="currentColor" />
			</svg>
		</span>
		<!--end::Svg Icon-->
	</div>
	<!--end::Scrolltop-->

	<!--begin::Javascript-->
	<script>var hostUrl = "assets/";</script>
	<!--begin::Global Javascript Bundle(mandatory for all pages)-->
	<script src="{% static 'assets/plugins/global/plugins.bundle.js' %}"></script>
	<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
	<!--end::Global Javascript Bundle-->
	<!--end::Javascript-->

</body>
<!--end::Body-->

</html>