{% extends './base.html' %}

{% load static %}

{% block contents %}
<!--begin::Container-->
<div class="d-flex flex-column flex-column-fluid container-fluid">
	<!--begin::Toolbar-->
	<div class="toolbar mb-5 mb-lg-7" id="kt_toolbar">
		<!--begin::Page title-->
		<div class="page-title d-flex flex-column me-3">
			<!--begin::Title-->
			<h1 class="d-flex text-dark fw-bold my-1 fs-3">Scenario</h1>
			<!--end::Title-->
			<!--begin::Breadcrumb-->
			<ul class="breadcrumb breadcrumb-line fw-semibold text-muted fs-7 my-1">
				<!--begin::Item-->
				<li class="breadcrumb-item pe-3">
					<span class="pe-3">Home</span>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item pe-3">
					<span class="pe-3">SERVICES</span></li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item pe-3">
					<span class="text-gray-600 pe-3">Scenario</span>
				</li>
				<!--end::Item-->
			</ul>
			<!--end::Breadcrumb-->
		</div>
		<!--end::Page title-->
	</div>
	<!--end::Toolbar-->
	<!--begin::Post-->
	<div class="content flex-column-fluid div-sc-step" id="kt_content">

		<!--begin::Card (Step 1)-->
		<div class="card mb-5" id="sc_step_1">
			<!--begin::Card header-->
			<div class="card-header">
				<!--begin::Card title-->
				<div class="card-title m-0">
					<h3 class="fw-bold m-0">Scenario 추가 <span class="badge badge-light fw-semibold">STEP 1</span></h3>
				</div>
				<!--end::Card title-->
			</div>
			<!--begin::Card header-->
			<!--begin::Card body-->
			<div class="card-body mb-0">
				<!--begin::Stepper-->
				<div class="stepper stepper-links d-flex flex-column">
					<!--begin::Nav-->
					<div class="stepper-nav justify-content-start m-0 py-2">
						<!--begin::Step 1-->
						<div class="stepper-item me-5 me-md-15 current" data-kt-stepper-element="nav">
							<h3 class="stepper-title">Scenario Template 선택</h3>
						</div>
						<!--end::Step 1-->
						<!--begin::Step 2-->
						<div class="stepper-item me-5 me-md-15" data-kt-stepper-element="nav">
							<h3 class="stepper-title">Scenario 정보</h3>
						</div>
						<!--end::Step 2-->
					</div>
					<!--end::Nav-->
					<!--begin::Form-->
					<form class="mx-auto w-100 mw-600px pt-15 pb-5" novalidate="novalidate">
						<!--begin::Step 1-->
						<div class="current" data-kt-stepper-element="content">
							<!--begin::Wrapper-->
							<div class="w-100">
								<!--begin::Heading-->
								<div class="mt-3 mb-9">
									<!--begin::Title-->
									<h3 class="mb-3 required">Template 선택</h3>
									<!--end::Title-->
									<!--begin::Description-->
									<div class="fs-6 text-muted fw-normal">
											등록된 Template을 통해 간편하게 Scenario 를 등록할 수 있습니다.
									</div>
									<!--end::Description-->
								</div>
								<!--end::Heading-->
								<!--begin::Input group-->
								<div class="fv-row mb-6" data-kt-buttons="true" id="divScenType">

									<!--begin::Option-->
									<label class="btn btn-custom btn-active-light-primary border border-gray-300 border-dashed border-active-primary position-relative d-flex text-start p-6 mb-5 active">
										<!--begin::Radio-->
										<div class="position-absolute end-0 form-check form-check-custom form-check-solid form-check-primary me-6">
											<input class="form-check-input" type="radio" name="scen_type" value="1" checked/>
										</div>
										<!--end::Radio-->
										<!--begin::Label-->
										<span class="d-flex mb-2">
											<!--begin::Icon-->
											<!--begin::Svg Icon | path: icons/duotune/communication/com007.svg-->
											<span class="svg-icon svg-icon-3hx">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path opacity="0.3" d="M8 8C8 7.4 8.4 7 9 7H16V3C16 2.4 15.6 2 15 2H3C2.4 2 2 2.4 2 3V13C2 13.6 2.4 14 3 14H5V16.1C5 16.8 5.79999 17.1 6.29999 16.6L8 14.9V8Z" fill="currentColor"/>
													<path d="M22 8V18C22 18.6 21.6 19 21 19H19V21.1C19 21.8 18.2 22.1 17.7 21.6L15 18.9H9C8.4 18.9 8 18.5 8 17.9V7.90002C8 7.30002 8.4 6.90002 9 6.90002H21C21.6 7.00002 22 7.4 22 8ZM19 11C19 10.4 18.6 10 18 10H12C11.4 10 11 10.4 11 11C11 11.6 11.4 12 12 12H18C18.6 12 19 11.6 19 11ZM17 15C17 14.4 16.6 14 16 14H12C11.4 14 11 14.4 11 15C11 15.6 11.4 16 12 16H16C16.6 16 17 15.6 17 15Z" fill="currentColor"/>
												</svg>
											</span>
											<!--end::Svg Icon-->
											<!--end::Icon-->
											<!--begin::Info-->
											<div class="ms-4">
												<div class="fs-2 fw-bolder text-gray-900 mb-2 pe-10">1:N 보고 BOT 시나리오</div>
												<div class="fs-6 fw-normal text-muted mb-1">시나리오에 대한 간략한 설명입니다.</div>
												<div class="mt-6">
													<button type="button" class="btn btn-sm btn-primary px-4 py-2 me-2" data-bs-toggle="modal" data-bs-target="#sm_sc_1_temp_preview">자세히 보기</button>
												</div>
											</div>
											<!--end::Info-->
										</span>
										<!--end::Label-->
									</label>
									<!--end::Option-->
									
								</div>
								<!--end::Input group-->
							</div>
							<!--end::Wrapper-->
						</div>
						<!--end::Step 1-->
					</form>
					<!--end::Form-->
				</div>
				<!--end::Stepper-->
			</div>
			<!--end::Card body-->
			<!--begin::Actions-->
			<div class="card-footer d-flex justify-content-between py-6 px-9">
				<a href="./scenarioList" class="btn btn-light btn-active-light-primary me-2">취소</a>
				<a href="javascript:void(0);" class="btn btn-primary btn-step-change" id="sm_bot_msg_send" data-step="2">다음</a>
			</div>
			<!--end::Actions-->
		</div>	
		<!--end::Card (Step 1)-->

		<!--begin::Card (Step 2)-->
		<div class="card mb-5" id="sc_step_2" style="display:none;">
			<!--begin::Card header-->
			<div class="card-header">
				<!--begin::Card title-->
				<div class="card-title m-0">
					<h3 class="fw-bold m-0">Scenario 추가 <span class="badge badge-light fw-semibold">STEP 2</span></h3>
				</div>
				<!--end::Card title-->
			</div>
			<!--begin::Card header-->
			<!--begin::Card body-->
			<div class="card-body mb-0">
				<!--begin::Stepper-->
				<div class="stepper stepper-links d-flex flex-column">
					<!--begin::Nav-->
					<div class="stepper-nav justify-content-start m-0 py-2">
						<!--begin::Step 1-->
						<div class="stepper-item me-5 me-md-15 completed" data-kt-stepper-element="nav">
							<h3 class="stepper-title">Scenario Template 선택</h3>
						</div>
						<!--end::Step 1-->
						<!--begin::Step 2-->
						<div class="stepper-item me-5 me-md-15 current" data-kt-stepper-element="nav">
							<h3 class="stepper-title">Scenario 정보</h3>
						</div>
						<!--end::Step 2-->
					</div>
					<!--end::Nav-->
					<div class="mx-auto w-100 mw-600px pt-15 pb-5" novalidate="novalidate" >
						<!--begin::Step 2-->
						<div class="current" data-kt-stepper-element="content">
							<!--begin::Wrapper-->
							<div class="w-100">
								<!--begin::Heading-->
								<div class="mt-3 mb-9">
									<!--begin::Title-->
									<h3 class="mb-3">Scenario 정보 입력</h3>
									<!--end::Title-->
									<!--begin::Description-->
									<div class="fs-6 text-muted fw-normal">
											Scenario에 대한 정보와 구성원을 선택해주세요.
									</div>
									<!--end::Description-->
								</div>
								<!--end::Heading-->
	
								<div class="d-flex flex-column mt-6">
									<!--begin::Form-->
									<form style="display:none;" id="form_scen_type_1">
										<!--begin::Input-->
										<input type="hidden" name="scen_type" value="1">
										<!--end::Input-->
			
										<!--begin::Input group-->
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="required fs-6 fw-semibold form-label">Scenario Name</label>
											<!--end::Label-->
											<!--begin::Input-->
											<input type="text" class="form-control form-control-solid fs-6 fw-normal" name="scen_name" placeholder="Scenario Name 입력" value="" />
											<!--end::Input-->
										</div>
										<!--end::Input group-->
			
										<!--begin::Input group-->
										<div class="fv-row mb-10">
											<!--begin::Label-->
											<label class="required fs-6 fw-semibold form-label">Domain Id</label>
											&nbsp;<i class="fa fa-question-circle form-control-solid" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#ex-modal-nw-domainid"></i>
											<!--end::Label-->
											<!--begin::Input-->
											<input type="text" class="form-control form-control-solid fs-6 fw-normal" name="domain" placeholder="Domain Id 입력" value="" />
											
											<!--end::Input-->
										</div>
										<!--end::Input group-->
			
										<!--begin::Input group-->
										<div class="fv-row row">
											<div class="col-xl-6 mb-10">
												<!--begin::Label-->
												<label class="required fs-6 fw-semibold form-label">API 선택</label>
												<!--end::Label-->
												<!--begin::Input-->
												<select class="form-select form-select-solid fs-6 fw-semibold" name="api_no" data-control="select2" data-hide-search="true" data-placeholder="API 선택">
												</select>
												<!--end::Input-->
											</div>
											<div class="col-xl-6 mb-10">
												<!--begin::Label-->
												<label class="required fs-6 fw-semibold form-label">Bot 선택</label>
												<!--end::Label-->
												<!--begin::Input-->
												<select class="form-select form-select-solid fs-6 fw-semibold" name="bot_no" data-control="select2" data-hide-search="true" data-placeholder="Bot 선택">
												</select>
												<!--end::Input-->
											</div>
										</div>
										<!--end::Input group-->
			
										<!--begin::Input group-->
										<div class="fv-row  mb-0">
											<!--begin::Label-->
											<label class="required fs-6 fw-semibold form-label">Member Id</label>
											&nbsp;<i class="fa fa-question-circle form-control-solid" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#ex-modal-nw-memberid"></i>
											<!--End::Label-->
											<!--begin::Input-->
											<input type="hidden" name="members">
											<!--end::Input-->
											<!--begin::List-->
											<div class="mh-275px scroll-y me-n7 pe-7" id="divMembers">
											</div>
											<!--end::List-->
			
											<!--begin::Add-->
											<div class="d-flex align-items-center mt-4">
												<!--begin::Input group-->
												<div class="position-relative w-100 me-4">
													<!--begin::Svg Icon | path: icons/duotune/arrows/arr087.svg-->
													<span class="svg-icon svg-icon-3 svg-icon-gray-500 position-absolute top-50 translate-middle ms-6">
														<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
															<rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="currentColor"/>
															<rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor"/>
														</svg>
													</span>
													<!--end::Svg Icon-->
													<input type="text" class="form-control form-control-solid fs-6 ps-10" name="member_add" value="" placeholder="Member 입력 "onkeyup="if(window.event.keyCode==13){activeForm.querySelector('.btnMemberAdd').click()}" />
												</div>
												<!--end::Input group-->
												<!--begin:Action-->
												<button type="button" class="btn btn-primary text-nowrap btnMemberAdd">추가</button>
												<!--end:Action-->
											</div>
											<!--end::Add-->
											<div class="fw-normal fs-7 mt-2 ms-2 text-gray-600" >※ 보고 받을 회원의 Naver Works Id를 입력 후 추가 버튼을 클릭해주세요.</div>
										</div>
										<!--end::Input group-->
									</form>
									<!--end::Form-->
								</div>
							</div>
							<!--end::Wrapper-->
						</div>
						<!--end::Step 2-->
					</div>
				</div>
				<!--end::Stepper-->
			</div>
			<!--end::Card body-->
			<!--begin::Actions-->
			<div class="card-footer d-flex justify-content-between py-6 px-9">
				<a href="javascript:void(0);" class="btn btn-light btn-active-light-primary me-2 btn-step-change" data-step="1">이전</a>
				<a href="javascript:void(0);" class="btn btn-primary" id="sm_member_add_completed">확인</a>
			</div>
			<!--end::Actions-->
		</div>	
		<!--end::Card (Step 2)-->
	</div>
	<!--end::Post-->
	<!--begin::Footer-->
	<div class="footer py-4 d-flex flex-column flex-md-row flex-stack" id="kt_footer">
		<!--begin::Copyright-->
		<div class="text-gray-600 order-2 order-md-1">
			<span class="text-muted fw-semibold me-1">2023&copy;</span>
			<a href="https://didim365.com" target="_blank" class="text-gray-800 text-hover-primary">Didim365</a>
		</div>
		<!--end::Copyright-->
		<!--begin::Menu-->
		<ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
			<li class="menu-item">
				<a href="#" target="_blank" class="menu-link px-2">이용약관</a>
			</li>
			<li class="menu-item">
				<a href="#" target="_blank" class="menu-link px-2">개인정보처리방침</a>
			</li>
		</ul>
		<!--end::Menu-->
	</div>
	<!--end::Footer-->
</div>
<!--end::Container-->
{% endblock %}

{% block modals %}
<!--begin::Modals-->
<!--begin::Modal - Scenario Preview-->
<div class="modal fade" tabindex="-1" id="sm_sc_1_temp_preview">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title fw-bolder">Scenario Template 정보</h3>
				<!--begin::Close-->
				<button type="button" class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
					<span class="svg-icon svg-icon-2x">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
						</svg>
					</span>
					<!--end::Svg Icon-->
				</button>
				<!--end::Close-->
			</div>
			<div class="modal-body bg-light p-9">
				<div class="w-100">
					<!--begin::Title-->
					<div class="d-flex flex-column mb-8">
						<div class="fs-4 fw-bold text-gray-900 lh-1 mb-3">1:N 보고 BOT 시나리오</div>
						<div class="fs-6 text-gray-700 fw-normal">
							여러 개의 대화방 생성없이 Bot을 통해 결재자(관리자)와의 대화를 가능하게 해주는 시나리오 입니다.
						</div>
						<br/>
						<div class="text-danger fs-6 fw-normal">
							※ 주의<br/>
							1. 해당 시나리오 생성 시 모든 사용자에게 바로 적용됩니다.<br/>
							2. 해당 시나리오 생성 시 담당자 그룹방이 자동으로 생성됩니다.
						</div>
					</div>
					<!--end::Title-->
					<span class="scen_modal_tab" data-scen_teb="1" style="">
						<div class="fs-6 fw-semibold text-gray-700 mb-4">1. 상황 인지 및 답변 안내</div>
						<!--begin::Card-->
						<div class="card mb-8">
							<!--begin::Topbar-->
							<div class="d-flex justify-content-between bg-primary rounded-3 rounded-bottom-0 px-2 py-2">
								<div class="ms-3">
									<span class="" style="color:white;">보고 Bot</span>
									<!--begin::Svg Icon | icons/duotune/general/gen052.svg-->
									<!-- <span class="svg-icon svg-icon-white svg-icon-2">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="10" y="10" width="4" height="4" rx="2" fill="currentColor"/>
											<rect x="17" y="10" width="4" height="4" rx="2" fill="currentColor"/>
											<rect x="3" y="10" width="4" height="4" rx="2" fill="currentColor"/>
										</svg>
									</span> -->
									<!--end::Svg Icon-->
								</div>
								<div class="me-3">
									<!--begin::Svg Icon | icons/duotune/coding/cod004.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2 me-2">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M19.0687 17.9688H11.0687C10.4687 17.9688 10.0687 18.3687 10.0687 18.9688V19.9688C10.0687 20.5687 10.4687 20.9688 11.0687 20.9688H19.0687C19.6687 20.9688 20.0687 20.5687 20.0687 19.9688V18.9688C20.0687 18.3687 19.6687 17.9688 19.0687 17.9688Z" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
									<!--begin::Svg Icon | path: icons/duotune/general/gen054.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2 me-1">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path opacity="0.5" d="M18 2H9C7.34315 2 6 3.34315 6 5H8C8 4.44772 8.44772 4 9 4H18C18.5523 4 19 4.44772 19 5V16C19 16.5523 18.5523 17 18 17V19C19.6569 19 21 17.6569 21 16V5C21 3.34315 19.6569 2 18 2Z" fill="currentColor"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.7857 7.125H6.21429C5.62255 7.125 5.14286 7.6007 5.14286 8.1875V18.8125C5.14286 19.3993 5.62255 19.875 6.21429 19.875H14.7857C15.3774 19.875 15.8571 19.3993 15.8571 18.8125V8.1875C15.8571 7.6007 15.3774 7.125 14.7857 7.125ZM6.21429 5C4.43908 5 3 6.42709 3 8.1875V18.8125C3 20.5729 4.43909 22 6.21429 22H14.7857C16.5609 22 18 20.5729 18 18.8125V8.1875C18 6.42709 16.5609 5 14.7857 5H6.21429Z" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
									<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"/>
											<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
								</div>
							</div>
							<!--end::Topbar-->
							<!--begin::Card body-->
							<div class="card-body pt-0">
	
								<!--begin::Message(user)-->
								<div class="d-flex justify-content-end mt-8">
									<!--begin::Wrapper-->
									<div class="d-flex flex-column align-items-end">
										<!--begin::User-->
										<div class="d-flex align-items-center mb-2">
											<!--begin::Details-->
											<div class="me-3">
												<span class="text-gray-400 fs-8 fw-normal mb-1">5 mins</span>
												<a href="javascript:void(0);" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-3">홍길동</a>
											</div>
											<!--end::Details-->
											<!--begin::Avatar-->
											<div class="symbol symbol-50px">
												<span class="svg-icon svg-icon-primary svg-icon-1">
													<!--begin::Svg Icon | path: icons/General/User.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<polygon points="0 0 24 0 24 24 0 24"/>
															<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
															<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="currentColor" fill-rule="nonzero"/>
														</g>
													</svg>
													<!--end::Svg Icon-->
												</span>
											</div>
											<!--end::Avatar-->
										</div>
										<!--end::User-->
										<!--begin::Text-->
										<div class="p-5 rounded bg-light text-dark fw-normal mw-lg-400px text-end">
											병원 좀 다녀오겠습니다.
										</div>
										<!--end::Text-->
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Message(user)-->
	
								<!--begin::Message(bot)-->
								<div class="d-flex justify-content-start mt-8">
									<!--begin::Wrapper-->
									<div class="d-flex flex-column align-items-start">
										<!--begin::Title-->
										<div class="d-flex align-items-center mb-2">
											<!--begin::Avatar-->
											<div class="symbol symbol-50px">
												<span class="svg-icon svg-icon-primary svg-icon-1">
													<!--begin::Svg Icon | path: icons/Communication/Chat-smile.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="0" y="0" width="24" height="24"/>
															<polygon fill="#000000" opacity="0.3" points="5 15 3 21.5 9.5 19.5"/>
															<path d="M13,2 C18.5228475,2 23,6.4771525 23,12 C23,17.5228475 18.5228475,22 13,22 C7.4771525,22 3,17.5228475 3,12 C3,6.4771525 7.4771525,2 13,2 Z M7.16794971,13.5547002 C8.67758127,15.8191475 10.6456687,17 13,17 C15.3543313,17 17.3224187,15.8191475 18.8320503,13.5547002 C19.1384028,13.0951715 19.0142289,12.4743022 18.5547002,12.1679497 C18.0951715,11.8615972 17.4743022,11.9857711 17.1679497,12.4452998 C16.0109146,14.1808525 14.6456687,15 13,15 C11.3543313,15 9.9890854,14.1808525 8.83205029,12.4452998 C8.52569784,11.9857711 7.90482849,11.8615972 7.4452998,12.1679497 C6.98577112,12.4743022 6.86159725,13.0951715 7.16794971,13.5547002 Z" fill="currentColor"/>
														</g>
													</svg>
													<!--end::Svg Icon-->
												</span>
											</div>
											<!--end::Avatar-->
											<!--begin::Details-->
											<div class="ms-3">
												<a href="javascript:void(0);" class="fs-5 fw-bold text-gray-900 text-hover-primary me-3">보고 Bot</a>
												<span class="text-gray-400 fs-8 fw-normal mb-1">2 mins</span>
											</div>
											<!--end::Details-->
										</div>
										<!--end::Title-->
										<!--begin::Text-->
										<div class="p-5 rounded bg-light-primary text-dark fw-semibold mw-lg-400px text-start">
											담당자에게 메시지를 전달 하였습니다.<br/>잠시만 기다려 주세요.
										</div>
										<!--end::Text-->
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Message(bot)-->
							</div>
							<!--end::Card body-->
						</div>
						<!--end::Card-->
	
						<div class="fs-6 fw-semibold text-gray-700 mb-4">2. 결재자(관리자) 메시지 전달</div>
						<!--begin::Card-->
						<div class="card mb-8">
							<!--begin::Topbar-->
							<div class="d-flex justify-content-between bg-primary rounded-3 rounded-bottom-0 px-2 py-2">
								<div class="ms-3">
									<span class="" style="color:white;">1:N 보고 BOT 시나리오</span>
								</div>
								<div class="me-3">
									<!--begin::Svg Icon | icons/duotune/coding/cod004.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2 me-2">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M19.0687 17.9688H11.0687C10.4687 17.9688 10.0687 18.3687 10.0687 18.9688V19.9688C10.0687 20.5687 10.4687 20.9688 11.0687 20.9688H19.0687C19.6687 20.9688 20.0687 20.5687 20.0687 19.9688V18.9688C20.0687 18.3687 19.6687 17.9688 19.0687 17.9688Z" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
									<!--begin::Svg Icon | path: icons/duotune/general/gen054.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2 me-1">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path opacity="0.5" d="M18 2H9C7.34315 2 6 3.34315 6 5H8C8 4.44772 8.44772 4 9 4H18C18.5523 4 19 4.44772 19 5V16C19 16.5523 18.5523 17 18 17V19C19.6569 19 21 17.6569 21 16V5C21 3.34315 19.6569 2 18 2Z" fill="currentColor"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.7857 7.125H6.21429C5.62255 7.125 5.14286 7.6007 5.14286 8.1875V18.8125C5.14286 19.3993 5.62255 19.875 6.21429 19.875H14.7857C15.3774 19.875 15.8571 19.3993 15.8571 18.8125V8.1875C15.8571 7.6007 15.3774 7.125 14.7857 7.125ZM6.21429 5C4.43908 5 3 6.42709 3 8.1875V18.8125C3 20.5729 4.43909 22 6.21429 22H14.7857C16.5609 22 18 20.5729 18 18.8125V8.1875C18 6.42709 16.5609 5 14.7857 5H6.21429Z" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
									<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"/>
											<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
								</div>
							</div>
							<!--end::Topbar-->
							<!--begin::Card body-->
							<div class="card-body pt-0">
	
								<!--begin::Message(bot)-->
								<div class="d-flex justify-content-start mt-8">
									<!--begin::Wrapper-->
									<div class="d-flex flex-column align-items-start">
										<!--begin::Title-->
										<div class="d-flex align-items-center mb-2">
											<!--begin::Avatar-->
											<div class="symbol symbol-50px">
												<span class="svg-icon svg-icon-primary svg-icon-1">
													<!--begin::Svg Icon | path: icons/Communication/Chat-smile.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="0" y="0" width="24" height="24"/>
															<polygon fill="#000000" opacity="0.3" points="5 15 3 21.5 9.5 19.5"/>
															<path d="M13,2 C18.5228475,2 23,6.4771525 23,12 C23,17.5228475 18.5228475,22 13,22 C7.4771525,22 3,17.5228475 3,12 C3,6.4771525 7.4771525,2 13,2 Z M7.16794971,13.5547002 C8.67758127,15.8191475 10.6456687,17 13,17 C15.3543313,17 17.3224187,15.8191475 18.8320503,13.5547002 C19.1384028,13.0951715 19.0142289,12.4743022 18.5547002,12.1679497 C18.0951715,11.8615972 17.4743022,11.9857711 17.1679497,12.4452998 C16.0109146,14.1808525 14.6456687,15 13,15 C11.3543313,15 9.9890854,14.1808525 8.83205029,12.4452998 C8.52569784,11.9857711 7.90482849,11.8615972 7.4452998,12.1679497 C6.98577112,12.4743022 6.86159725,13.0951715 7.16794971,13.5547002 Z" fill="currentColor"/>
														</g>
													</svg>
													<!--end::Svg Icon-->
												</span>
											</div>
											<!--end::Avatar-->
											<!--begin::Details-->
											<div class="ms-3">
												<a href="javascript:void(0);" class="fs-5 fw-bold text-gray-900 text-hover-primary me-3">보고 Bot</a>
												<span class="text-gray-400 fs-8 fw-normal mb-1">2 mins</span>
											</div>
											<!--end::Details-->
										</div>
										<!--end::Title-->
										<!--begin::Text-->
										<div class="p-5 rounded bg-light-primary text-dark fw-semibold mw-lg-400px text-start">
											홍길동님으로부터 메시지가 도착하였습니다.<br />선택해주세요.<br/>요청일자:2023-01-01 08:00:00
											<!--begin::URL Area-->
											<div class="mt-5">
												<a href="javascript:void(0);" class="btn btn-primary btn-sm rounded-1">메시지 연결</a>
											</div>
											<!--end::URL Area-->
										</div>
										<!--end::Text-->
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Message(bot)-->
							</div>
							<!--end::Card body-->
						</div>
						<!--end::Card-->
					</span>
					<span class="scen_modal_tab" data-scen_teb="2" style="display: none;">
						<div class="fs-6 fw-semibold text-gray-700 mb-4">1. 상황 인지 및 답변 안내</div>
						<!--begin::Card-->
						<div class="card mb-8">
							<!--begin::Topbar-->
							<div class="d-flex justify-content-between bg-primary rounded-3 rounded-bottom-0 px-2 py-2">
								<div class="ms-3">
									<span class="" style="color:white;">보고 Bot</span>
									<!--begin::Svg Icon | icons/duotune/general/gen052.svg-->
									<!-- <span class="svg-icon svg-icon-white svg-icon-2">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect x="10" y="10" width="4" height="4" rx="2" fill="currentColor"/>
											<rect x="17" y="10" width="4" height="4" rx="2" fill="currentColor"/>
											<rect x="3" y="10" width="4" height="4" rx="2" fill="currentColor"/>
										</svg>
									</span> -->
									<!--end::Svg Icon-->
								</div>
								<div class="me-3">
									<!--begin::Svg Icon | icons/duotune/coding/cod004.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2 me-2">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M19.0687 17.9688H11.0687C10.4687 17.9688 10.0687 18.3687 10.0687 18.9688V19.9688C10.0687 20.5687 10.4687 20.9688 11.0687 20.9688H19.0687C19.6687 20.9688 20.0687 20.5687 20.0687 19.9688V18.9688C20.0687 18.3687 19.6687 17.9688 19.0687 17.9688Z" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
									<!--begin::Svg Icon | path: icons/duotune/general/gen054.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2 me-1">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path opacity="0.5" d="M18 2H9C7.34315 2 6 3.34315 6 5H8C8 4.44772 8.44772 4 9 4H18C18.5523 4 19 4.44772 19 5V16C19 16.5523 18.5523 17 18 17V19C19.6569 19 21 17.6569 21 16V5C21 3.34315 19.6569 2 18 2Z" fill="currentColor"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.7857 7.125H6.21429C5.62255 7.125 5.14286 7.6007 5.14286 8.1875V18.8125C5.14286 19.3993 5.62255 19.875 6.21429 19.875H14.7857C15.3774 19.875 15.8571 19.3993 15.8571 18.8125V8.1875C15.8571 7.6007 15.3774 7.125 14.7857 7.125ZM6.21429 5C4.43908 5 3 6.42709 3 8.1875V18.8125C3 20.5729 4.43909 22 6.21429 22H14.7857C16.5609 22 18 20.5729 18 18.8125V8.1875C18 6.42709 16.5609 5 14.7857 5H6.21429Z" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
									<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"/>
											<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
								</div>
							</div>
							<!--end::Topbar-->
							<!--begin::Card body-->
							<div class="card-body pt-0">
	
								<!--begin::Message(user)-->
								<div class="d-flex justify-content-end mt-8">
									<!--begin::Wrapper-->
									<div class="d-flex flex-column align-items-end">
										<!--begin::User-->
										<div class="d-flex align-items-center mb-2">
											<!--begin::Details-->
											<div class="me-3">
												<span class="text-gray-400 fs-8 fw-normal mb-1">5 mins</span>
												<a href="javascript:void(0);" class="fs-5 fw-bold text-gray-900 text-hover-primary ms-3">홍길동</a>
											</div>
											<!--end::Details-->
											<!--begin::Avatar-->
											<div class="symbol symbol-50px">
												<span class="svg-icon svg-icon-primary svg-icon-1">
													<!--begin::Svg Icon | path: icons/General/User.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<polygon points="0 0 24 0 24 24 0 24"/>
															<path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
															<path d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z" fill="currentColor" fill-rule="nonzero"/>
														</g>
													</svg>
													<!--end::Svg Icon-->
												</span>
											</div>
											<!--end::Avatar-->
										</div>
										<!--end::User-->
										<!--begin::Text-->
										<div class="p-5 rounded bg-light text-dark fw-normal mw-lg-400px text-end">
											병원 좀 다녀오겠습니다.
										</div>
										<!--end::Text-->
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Message(user)-->
	
								<!--begin::Message(bot)-->
								<div class="d-flex justify-content-start mt-8">
									<!--begin::Wrapper-->
									<div class="d-flex flex-column align-items-start">
										<!--begin::Title-->
										<div class="d-flex align-items-center mb-2">
											<!--begin::Avatar-->
											<div class="symbol symbol-50px">
												<span class="svg-icon svg-icon-primary svg-icon-1">
													<!--begin::Svg Icon | path: icons/Communication/Chat-smile.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="0" y="0" width="24" height="24"/>
															<polygon fill="#000000" opacity="0.3" points="5 15 3 21.5 9.5 19.5"/>
															<path d="M13,2 C18.5228475,2 23,6.4771525 23,12 C23,17.5228475 18.5228475,22 13,22 C7.4771525,22 3,17.5228475 3,12 C3,6.4771525 7.4771525,2 13,2 Z M7.16794971,13.5547002 C8.67758127,15.8191475 10.6456687,17 13,17 C15.3543313,17 17.3224187,15.8191475 18.8320503,13.5547002 C19.1384028,13.0951715 19.0142289,12.4743022 18.5547002,12.1679497 C18.0951715,11.8615972 17.4743022,11.9857711 17.1679497,12.4452998 C16.0109146,14.1808525 14.6456687,15 13,15 C11.3543313,15 9.9890854,14.1808525 8.83205029,12.4452998 C8.52569784,11.9857711 7.90482849,11.8615972 7.4452998,12.1679497 C6.98577112,12.4743022 6.86159725,13.0951715 7.16794971,13.5547002 Z" fill="currentColor"/>
														</g>
													</svg>
													<!--end::Svg Icon-->
												</span>
											</div>
											<!--end::Avatar-->
											<!--begin::Details-->
											<div class="ms-3">
												<a href="javascript:void(0);" class="fs-5 fw-bold text-gray-900 text-hover-primary me-3">보고 Bot</a>
												<span class="text-gray-400 fs-8 fw-normal mb-1">2 mins</span>
											</div>
											<!--end::Details-->
										</div>
										<!--end::Title-->
										<!--begin::Text-->
										<div class="p-5 rounded bg-light-primary text-dark fw-semibold mw-lg-400px text-start">
											담당자에게 메시지를 전달 하였습니다.<br/>잠시만 기다려 주세요.
										</div>
										<!--end::Text-->
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Message(bot)-->
							</div>
							<!--end::Card body-->
						</div>
						<!--end::Card-->
	
						<div class="fs-6 fw-semibold text-gray-700 mb-4">2. 결재자(관리자) 메시지 전달</div>
						<!--begin::Card-->
						<div class="card mb-8">
							<!--begin::Topbar-->
							<div class="d-flex justify-content-between bg-primary rounded-3 rounded-bottom-0 px-2 py-2">
								<div class="ms-3">
									<span class="" style="color:white;">1:N 보고 BOT 시나리오</span>
								</div>
								<div class="me-3">
									<!--begin::Svg Icon | icons/duotune/coding/cod004.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2 me-2">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M19.0687 17.9688H11.0687C10.4687 17.9688 10.0687 18.3687 10.0687 18.9688V19.9688C10.0687 20.5687 10.4687 20.9688 11.0687 20.9688H19.0687C19.6687 20.9688 20.0687 20.5687 20.0687 19.9688V18.9688C20.0687 18.3687 19.6687 17.9688 19.0687 17.9688Z" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
									<!--begin::Svg Icon | path: icons/duotune/general/gen054.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2 me-1">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path opacity="0.5" d="M18 2H9C7.34315 2 6 3.34315 6 5H8C8 4.44772 8.44772 4 9 4H18C18.5523 4 19 4.44772 19 5V16C19 16.5523 18.5523 17 18 17V19C19.6569 19 21 17.6569 21 16V5C21 3.34315 19.6569 2 18 2Z" fill="currentColor"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.7857 7.125H6.21429C5.62255 7.125 5.14286 7.6007 5.14286 8.1875V18.8125C5.14286 19.3993 5.62255 19.875 6.21429 19.875H14.7857C15.3774 19.875 15.8571 19.3993 15.8571 18.8125V8.1875C15.8571 7.6007 15.3774 7.125 14.7857 7.125ZM6.21429 5C4.43908 5 3 6.42709 3 8.1875V18.8125C3 20.5729 4.43909 22 6.21429 22H14.7857C16.5609 22 18 20.5729 18 18.8125V8.1875C18 6.42709 16.5609 5 14.7857 5H6.21429Z" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
									<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
									<span class="svg-icon svg-icon-white svg-icon-2">
										<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"/>
											<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"/>
										</svg>
									</span>
									<!--end::Svg Icon-->
								</div>
							</div>
							<!--end::Topbar-->
							<!--begin::Card body-->
							<div class="card-body pt-0">
	
								<!--begin::Message(bot)-->
								<div class="d-flex justify-content-start mt-8">
									<!--begin::Wrapper-->
									<div class="d-flex flex-column align-items-start">
										<!--begin::Title-->
										<div class="d-flex align-items-center mb-2">
											<!--begin::Avatar-->
											<div class="symbol symbol-50px">
												<span class="svg-icon svg-icon-primary svg-icon-1">
													<!--begin::Svg Icon | path: icons/Communication/Chat-smile.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="0" y="0" width="24" height="24"/>
															<polygon fill="#000000" opacity="0.3" points="5 15 3 21.5 9.5 19.5"/>
															<path d="M13,2 C18.5228475,2 23,6.4771525 23,12 C23,17.5228475 18.5228475,22 13,22 C7.4771525,22 3,17.5228475 3,12 C3,6.4771525 7.4771525,2 13,2 Z M7.16794971,13.5547002 C8.67758127,15.8191475 10.6456687,17 13,17 C15.3543313,17 17.3224187,15.8191475 18.8320503,13.5547002 C19.1384028,13.0951715 19.0142289,12.4743022 18.5547002,12.1679497 C18.0951715,11.8615972 17.4743022,11.9857711 17.1679497,12.4452998 C16.0109146,14.1808525 14.6456687,15 13,15 C11.3543313,15 9.9890854,14.1808525 8.83205029,12.4452998 C8.52569784,11.9857711 7.90482849,11.8615972 7.4452998,12.1679497 C6.98577112,12.4743022 6.86159725,13.0951715 7.16794971,13.5547002 Z" fill="currentColor"/>
														</g>
													</svg>
													<!--end::Svg Icon-->
												</span>
											</div>
											<!--end::Avatar-->
											<!--begin::Details-->
											<div class="ms-3">
												<a href="javascript:void(0);" class="fs-5 fw-bold text-gray-900 text-hover-primary me-3">보고 Bot</a>
												<span class="text-gray-400 fs-8 fw-normal mb-1">2 mins</span>
											</div>
											<!--end::Details-->
										</div>
										<!--end::Title-->
										<!--begin::Text-->
										<div class="p-5 rounded bg-light-primary text-dark fw-semibold mw-lg-400px text-start">
											홍길동님으로부터 메시지가 도착하였습니다.<br />선택해주세요.<br/>요청일자:2023-01-01 08:00:00
											<!--begin::URL Area-->
											<div class="mt-5">
												<a href="javascript:void(0);" class="btn btn-primary btn-sm rounded-1">메시지 연결</a>
											</div>
											<!--end::URL Area-->
										</div>
										<!--end::Text-->
									</div>
									<!--end::Wrapper-->
								</div>
								<!--end::Message(bot)-->
							</div>
							<!--end::Card body-->
						</div>
						<!--end::Card-->
					</span>
				</div>
			</div>
			<!--begin::Modal footer-->
			<div class="modal-footer flex-center py-4">
				<button type="button" class="btn btn-sm btn-dark fw-bolder" data-bs-dismiss="modal">확인</button>
			</div>
			<!--end::Modal footer-->
		</div>
	</div>
</div>
<!--end::Modal - Scenario Preview-->
{% include './Example/naverworks-modal.html' %}
<!--end::Modals-->
{% endblock %}


{% block scripts %}
<!--begin::Alert | Simpler-->
<script type="text/javascript">
	var activeForm;

	window.addEventListener('load',function(){
		let btnStepChange = document.querySelectorAll('a.btn-step-change');
		for(let i = 0; i < btnStepChange.length; i++) {
			btnStepChange[i].addEventListener('click',(e) => {
				e.preventDefault();
				BtnStepChange(e.target);
			});
		}
	});
	

	const BtnStepChange = function(e) {
		if(e.dataset.step == "1"){
			document.querySelector('div.div-sc-step div#sc_step_1').style="";
			document.querySelector('div.div-sc-step div#sc_step_2').style="display:none;";
			if(activeForm != null){
				activeForm.style="display:none;";
				activeForm.classList.remove('active');
			}
		} else if (e.dataset.step == "2"){
			let scen_type = document.querySelector('#sc_step_1 input[name=scen_type]:checked');
			if(scen_type == null || scen_type.value == ""){
				Swal.fire({
					text: "Template를 선택해주세요.",
					icon: "error",
					buttonsStyling: false,
					confirmButtonText: "다시",
					customClass: {
						confirmButton: "btn btn-primary"
					}
				});
				return;
			}else{
				document.querySelector('div.div-sc-step div#sc_step_1').style="display:none;";
				document.querySelector('div.div-sc-step div#sc_step_2').style="";
				activeForm = document.querySelector(`input[type=hidden][name=scen_type][value='` + scen_type.value + `']`).closest('form');
				activeForm.style="";
				activeForm.classList.add('active');
				getScenarioInfo();
			}
		}
	}

	const getScenarioInfo = function() {
		let url = "./scenarioAdd";
		let formData = new FormData();
		formData.append("csrfmiddlewaretoken", Cookies("csrftoken"));
		formData.append("type", "getApiBot");

		fetch(url, {
			method: "POST",
			cache: 'no-cache',
			body: formData,
		}).then((response) => {
			if (!response.ok || response.status != '200') {
				throw new Error('연결 실패. 다시 요청하세요.\n' + response.statusText + "(" + response.status + ")");
			}
			return response.json();
		}).then((res) => {
			if(res.flag == 0){
				let api = activeForm.querySelector('select[name=api_no]');
				api.innerHTML = "";
				api.innerHTML += `<option value="">API Select</option>`;
				for(let i = 0; i < res.api_data.data.length; i++) {
					api.innerHTML += `<option value="` + res.api_data.data[i].api_no + `">` + res.api_data.data[i].api_name + `</option>`;
				}

				let bot = activeForm.querySelector('select[name=bot_no]');
				bot.innerHTML = "";
				bot.innerHTML += `<option value="">Bot Select</option>`;
				for(let i = 0; i < res.bot_data.data.length; i++) {
					bot.innerHTML += `<option value="` + res.bot_data.data[i].bot_no + `">` + res.bot_data.data[i].bot_name + `</option>`;
				}
			}else{
				throw new Error(res.result_msg);
			}
		}).catch((err) => {
			Swal.fire({
				text: err,
				icon: "error",
				buttonsStyling: false,
				confirmButtonText: "확인",
				customClass: {
					confirmButton: "btn btn-primary"
				}
			}).then(function (result) {
				if (result.isConfirmed) {
					modalClose();
				}
			});
		});
	}


	var memberIdx = 0;
	const settingMmebers = function(div, value) {
		div.innerHTML += `
			<!--begin::Member-->
			<div class="d-flex flex-stack py-4 border border-top-0 border-left-0 border-right-0 border-dashed" data-member="` + value + `" data-member-idx="` + memberIdx + `">
				<div class="d-flex align-items-center">
					<!--begin::Avatar-->
					<div class="symbol symbol-35px">
						<!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
						<span class="svg-icon svg-icon-muted svg-icon-3x">
							<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path opacity="0.3" d="M16.5 9C16.5 13.125 13.125 16.5 9 16.5C4.875 16.5 1.5 13.125 1.5 9C1.5 4.875 4.875 1.5 9 1.5C13.125 1.5 16.5 4.875 16.5 9Z" fill="currentColor"/>
								<path d="M9 16.5C10.95 16.5 12.75 15.75 14.025 14.55C13.425 12.675 11.4 11.25 9 11.25C6.6 11.25 4.57499 12.675 3.97499 14.55C5.24999 15.75 7.05 16.5 9 16.5Z" fill="currentColor"/>
								<rect x="7" y="6" width="4" height="4" rx="2" fill="currentColor"/>
							</svg>
						</span>
						<!--end::Svg Icon-->
					</div>
					<!--end::Avatar-->
					<!--begin::Details-->
					<div class="ms-6">
						<a href="javascript:void(0);" class="fs-5 fw-bold text-gray-900 text-hover-primary mb-2">` + value + `</a>
						<!-- <div class="fs-7 fw-normal text-muted">설명</div> -->
					</div>
					<!--end::Details-->
				</div>
				<!--begin::Menu-->
				<div class="min-w-100px text-end">
					<!--begin::Delete-->
					<a href="javascript:void(0);" class="btn btn-icon btn-flex btn-active-light-danger w-30px h-30px" onclick="btnMemberRemove(this,'` + memberIdx++ + `');">
						<!--begin::Svg Icon | path: icons/duotune/abstract/abs012.svg-->
						<span class="svg-icon svg-icon-1 svg-icon-danger">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<path opacity="0.3" d="M6.7 19.4L5.3 18C4.9 17.6 4.9 17 5.3 16.6L16.6 5.3C17 4.9 17.6 4.9 18 5.3L19.4 6.7C19.8 7.1 19.8 7.7 19.4 8.1L8.1 19.4C7.8 19.8 7.1 19.8 6.7 19.4Z" fill="currentColor"/>
								<path d="M19.5 18L18.1 19.4C17.7 19.8 17.1 19.8 16.7 19.4L5.40001 8.1C5.00001 7.7 5.00001 7.1 5.40001 6.7L6.80001 5.3C7.20001 4.9 7.80001 4.9 8.20001 5.3L19.5 16.6C19.9 16.9 19.9 17.6 19.5 18Z" fill="currentColor"/>
							</svg>
						</span>
						<!--end::Svg Icon-->
					</a>
					<!--end::Delete-->
				</div>
				<!--end::Menu-->
			</div>
			<!--end::Member-->
		`;
	}

	const btnMemberRemove = function(e, memberIdx) {
		let modal = e.closest('.modal');
		document.querySelector(`div[data-member-idx='` + memberIdx++ + `']`).remove()
		setInputMembers(modal);
	}

	const btnMemberAdd = document.querySelector("button.btnMemberAdd");
	btnMemberAdd.addEventListener('click',e => {
		let divMembers = activeForm.querySelector('#divMembers');
		let inputMember = activeForm.querySelector("input[name=member_add]");
		if(inputMember.value.replace(/ /g,'') == "") return false;
		settingMmebers(divMembers, inputMember.value.replace(/ /g,''));
		inputMember.value = "";
		setInputMembers();
	});

	const setInputMembers = function (){
		let members = activeForm.querySelector('input[name=members]');
		let divMembers = activeForm.querySelector('#divMembers');
		members.value="";
		for(let i = 0; i<divMembers.children.length; i++){
			if(i!=0) members.value += ",";
			members.value += divMembers.children[i].dataset.member;
		}
		if(members.parentElement.querySelector('.invalid-feedback') != null){
			if(members.value != "") {
				members.parentElement.querySelector('.invalid-feedback').style="display:none;";
			}else{
				members.parentElement.querySelector('.invalid-feedback').style="";
			}
		}
	}

</script>

<script>
//////////////////////////////////////
////////////Scenario Add Modal////////////
//////////////////////////////////////

/******/ (() => { // webpackBootstrap
/******/ 	"use strict";
var __webpack_exports__ = {};
/*!************************************************************!*\
  !*** ../demo14/src/js/custom/utilities/modals/new-card.js ***!
  \************************************************************/


// Class definition
var FormScenAdd_1 = function () {
	var submitButton;
	var validator;
	var divStep;
	var form;

	// Handle form validation and submittion
	var handleForm = function() {
		// Stepper custom navigation

		// Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
		validator = FormValidation.formValidation(
			form,
			{
				fields: {
					'scen_name': {
						validators: {
							notEmpty: {
								message: 'Scenario Name은 필수값입니다.'
							}
						}
					},
					'domain': {
						validators: {
							notEmpty: {
								message: 'Domain Id는 필수값입니다.'
							}
						}
					},
					'api_no': {
						validators: {
							notEmpty: {
								message: 'API는 필수값입니다.'
							}
						}
					},
					'bot_no': {
						validators: {
							notEmpty: {
								message: 'Bot은 필수값입니다.'
							}
						}
					},
					'members': {
						validators: {
							notEmpty: {
								message: 'Member Id는 필수값입니다.'
							}
						}
					}
				},
				plugins: {
					trigger: new FormValidation.plugins.Trigger(),
					bootstrap: new FormValidation.plugins.Bootstrap5({
						rowSelector: '.fv-row',
                        eleInvalidClass: '',
                        eleValidClass: ''
					})
				}
			}
		);

		// Action buttons
		submitButton.addEventListener('click', function (e) {
			e.preventDefault();

			// Validate form before submit
			if (validator) {
				validator.validate().then(function (status) {
					//console.log('validated!');

					if (status == 'Valid') {
						submitButton.setAttribute('data-kt-indicator', 'on');
						// Disable button to avoid multiple click 
						submitButton.disabled = true;

						// submitButton.removeAttribute('data-kt-indicator');
						// // Enable button
						// submitButton.disabled = false;

						let url = "./scenarioAdd";
						let formData = new FormData(form);
						formData.append("csrfmiddlewaretoken", Cookies("csrftoken"));
						formData.append("type", "regScen");
				
						Swal.fire({
							html: '<strong class="fs-4">Scenario를 저장 하시겠습니까?</span><br/><span class="fw-normal fs-7 mt-2 ms-2 text-gray-600">시나리오 저장과 동시에 새로운 그룹채팅방이 생성되며<br/>"1:N 보고 BOT 시나리오 방이 생성되었습니다."<br/>라는 메시지가 발송됩니다.</span>',
							icon: "warning",
							buttonsStyling: false,
							showCancelButton: true,
							confirmButtonText: '<a class="text-white">삭제</a>',
							cancelButtonText: '<a class="text-gray-500">취소</a>',
							customClass: {
								confirmButton: "btn btn-danger px-5 py-2",
								cancelButton: "btn btn-light px-5 py-2"
							}
						}).then(ev => {
							if(ev.isConfirmed){
								fetch(url, {
									method: "POST",
									cache: 'no-cache',
									body: formData,
								}).then((response) => {
									if (!response.ok || response.status != '200') {
										throw new Error('연결 실패. 다시 요청하세요.\n' + response.statusText + "(" + response.status + ")");
									}
									return response.json();
								}).then((res) => {
									submitButton.removeAttribute('data-kt-indicator');
									// Enable button
									submitButton.disabled = false;
									if(res.flag == 0){
										Swal.fire({
											html: `<strong class="fs-4">Scenario 저장 확인</strong><br /><span class="fs-6">Scenario 생성이 정상적으로 완료되었습니다.</span>`,
											icon: "success",
											buttonsStyling: false,
											confirmButtonText: "확인",
											customClass: {
												confirmButton: "btn btn-primary px-5 py-2",
											}
										}).then(e=>{
											location.href='./scenarioList'
										});
									}else{
										throw new Error(res.result_msg);
									}
								}).catch((err) => {
									Swal.fire({
										text: err,
										icon: "error",
										buttonsStyling: false,
										confirmButtonText: "확인",
										customClass: {
											confirmButton: "btn btn-primary"
										}
									});
								});
							}
						});
				
					} else {
						// Show error popuo. For more info check the plugin's official documentation: https://sweetalert2.github.io/
						Swal.fire({
							text: "필드값을 다시 확인해주세요",
							icon: "error",
							buttonsStyling: false,
							confirmButtonText: "다시 확인하기",
							customClass: {
								confirmButton: "btn btn-primary"
							}
						});
					}
				});
			}
		});
	}

	return {
		// Public functions
		init: function () {
			// Elements
			divStep = document.querySelector('#sc_step_2');
			if (!divStep) {
				return;
			}

			form = divStep.querySelector('#form_scen_type_1');
			if (!form) {
				return;
			}

			submitButton = divStep.querySelector('#sm_member_add_completed');

			handleForm();
		}
	};
}();

// On document ready
KTUtil.onDOMContentLoaded(function () {
	FormScenAdd_1.init();
});
/******/ })()
;
//# sourceMappingURL=create-api-key.js.map


// select2 변경 이벤트
KTUtil.onDOMContentLoaded(function () {
	select2ChangeEventListener = function(e){
		if(e.value != ''){
			let feedback = e.parentElement.querySelector('.invalid-feedback');
			if(feedback != null){
				feedback.innerHTML = '';
			}
		}
	}
});
</script>
<!--end::Alert | Simpler-->
{% endblock %}