body{
    font-family: 'Noto Sans KR', sans-serif;
}

.logo-height{
    height: 21px;
}

.api-card,.bot-card{
    transition: all 0.3s;
    cursor: pointer;
}

.api-card-active{
    cursor: pointer;
    border-style: solid !important;
    border-color: rgba(0, 158, 247, 1) !important;
    border-radius: 0.475rem !important;
    border: 1px solid;
    background-color: #F2FAFF
}


.form-check-custom.form-check-solid.bot-check .form-check-input:checked{
    background-color: var(--kt-success-active) !important;
}

.bot-card-active{
    cursor: pointer;
    border-style: solid !important;
    border-color: var(--kt-success) !important;
    border-radius: 0.475rem !important;
    border: 1px solid;
    background-color: #E8FFF3;
}

@media(max-width: 767px){
    .logo-height{
        height: 27px;
    }
}